<html lang="pt-br">
<head>
    <title> A História De Matinhos</title>
    <link rel="stylesheet" href="style.css">
    <meta charset="utf-8">
</head>

<body style="backgound-color:336699;">
<header><strong>MATINHOS</strong></header> <style>

style:font-size: 100px
<h1> A História De Matinhos</h1>

</style>
<h2>breve descrição de matinhos</h2>
<p>matinhos é uma cidade turística conhecida pelas suas praias,tendo sua economia baseada em pescaria, supermercados, lojas de eletrodomesticos, lojas de roupas, e pequenos empreendedores nos centro e nas praias.
  
Sua cultura é bem diversificada assim como a religião, na cidade é bem comum encontrar igrejas catolicas, evangelicas,terreiro de umbanda e centro espirita, no ambito politico a cidade de matinhos tem como o atual prefeito o Jose Carlos Do Espirito Santo ou como é conhecido zé da ecler que foi escolhido como prefeito dia 15/11/2020.</p>

body{
    text-align: center;
    margin-left: 40px;
    color: #ffffff;
    
}

header{
    text-align: center;
    font-family: "Arial"
    color: rgb(36, 57, 128);
    font-size: 90px;
    margin-top: 0px;
    margin-bottom: 0px;
}

h2{
    font-size: 45px ;
    margin-top: 0px;
    margin-bottom: 0px;
}

p{
    font-family: "Roboto";
    font-size: 21px;
    color: #ffffff;
    text-align: center;
    margin-right: 80px;
    margin-left: 80px;
}

